.App {
  text-align: center;
  color: #fff;
}
.custom-header {
  color:white;
  font-size: 40px;
  background-color:rgb(14, 102, 185) ;
}
.no-border-cell {
  border: none !important;

}
* {
  border: none !important;
  outline: none !important;
}


body{

   
    background: radial-gradient(circle, white, rgb(0, 132, 255));
    font-family: Arial, sans-Serif;
    
   
}

.maDiv{
  background: radial-gradient(circle, white, rgb(0, 132, 255));
  font-size: 50px;    
  
    
}
